<?xml version="1.0"?>
<plugin>
	<extension id="de.tudresden.inf.lat.jcel.protege.main.JcelReasonerFactory" point="org.protege.editor.owl.inference_reasonerfactory">
		<name value="jcel"/>
		<class value="de.tudresden.inf.lat.jcel.protege.main.JcelReasonerFactory"/>
	</extension>
	<extension id="de.tudresden.inf.lat.jcel.protege.main.JcelOldReasonerFactory" point="org.protege.editor.owl.inference.reasonerfactory">
		<name value="jcel"/>
		<class value="de.tudresden.inf.lat.jcel.protege.main.JcelOldReasonerFactory"/>
	</extension>
</plugin>
